In [20]:
import pandas as pd
import numpy as np
from fastapi import FastAPI

In [21]:
app =FastAPI()

cargar datos

In [22]:
def load_datos():
    df=pd.read_csv('Data/co-emissions-per-capita new.csv')
    df['Annual CO₂ emissions (per capita)']=df[('Annual CO₂ emissions (per capita)')].str.replace('.','')
    df['Annual CO₂ emissions (per capita)']=df[('Annual CO₂ emissions (per capita)')].astype('int')
    df['Annual CO₂ emissions (per capita)']=round(df[('Annual CO₂ emissions (per capita)')]/1000000,2)
    return df
df = load_datos()

Definicio de rutas

Ruta raíz (/): Devuelve un mensaje de bienvenida

In [23]:
@app.get("/")
def index():
    return{"api"/"Bienvenido"}

Ruta para obtener todos los datos (/data): Devuelve todos los datos 
del DataFrame en formato JSON.

In [24]:
@app.get('/data')
def data():
    pais=list(df['Entity'].unique())
    dic={}
    for i in pais:
        data=df[df['Entity']==i].sort_values(ascending=False, by='Year')
        dic2={}
        for j in range(len(data)):
            dic2[int(data['Year'].iloc[j])]= float(data['Annual CO₂ emissions (per capita)'].iloc[j])
            dic[data['Entity'].iloc[0]]=dic2
        return dic

In [25]:
data()

{'Africa': {2022: 99.42,
  2021: 10.31,
  2020: 9.98,
  2019: 10.99,
  2018: 10.49,
  2017: 10.86,
  2016: 11.02,
  2015: 11.0,
  2014: 11.51,
  2013: 11.11,
  2012: 11.32,
  2011: 11.61,
  2010: 1.15,
  2009: 11.43,
  2008: 11.75,
  2007: 11.51,
  2006: 11.49,
  2005: 11.47,
  2004: 1.16,
  2003: 1.12,
  2002: 10.46,
  2001: 10.97,
  2000: 11.37,
  1999: 1.13,
  1998: 11.72,
  1997: 11.76,
  1996: 11.76,
  1995: 11.68,
  1994: 11.2,
  1993: 10.27,
  1992: 99.4,
  1991: 10.52,
  1990: 0.1,
  1989: 11.25,
  1988: 12.01,
  1987: 11.75,
  1986: 12.08,
  1985: 12.0,
  1984: 12.04,
  1983: 11.33,
  1982: 1.12,
  1981: 11.08,
  1980: 11.14,
  1979: 10.68,
  1978: 10.19,
  1977: 98.2,
  1976: 9.79,
  1975: 9.29,
  1974: 95.79,
  1973: 95.8,
  1972: 0.92,
  1971: 88.62,
  1970: 0.83,
  1969: 7.82,
  1968: 7.43,
  1967: 0.7,
  1966: 6.72,
  1965: 66.57,
  1964: 6.19,
  1963: 5.78,
  1962: 5.58,
  1961: 5.57,
  1960: 5.52,
  1959: 53.33,
  1958: 5.49,
  1957: 5.34,
  1956: 52.11,
  1955: 5.1,
  1954: 4.74,
  1953: 46.18,
  1952: 46.5,
  1951: 43.55,
  1950: 41.74,
  1949: 34.67,
  1948: 32.73,
  1947: 31.51,
  1946: 32.12,
  1945: 32.34,
  1944: 3.24,
  1943: 29.74,
  1942: 2.96,
  1941: 27.57,
  1940: 25.71,
  1939: 24.61,
  1938: 23.43,
  1937: 22.56,
  1936: 21.31,
  1935: 19.86,
  1934: 18.23,
  1933: 16.16,
  1932: 15.3,
  1931: 17.14,
  1930: 19.85,
  1929: 21.36,
  1928: 21.01,
  1927: 2.07,
  1926: 21.33,
  1925: 20.18,
  1924: 19.45,
  1923: 18.67,
  1922: 15.6,
  1921: 18.4,
  1920: 18.62,
  1919: 17.01,
  1918: 16.63,
  1917: 17.11,
  1916: 15.77,
  1915: 13.35,
  1914: 13.37,
  1913: 13.46,
  1912: 123.76,
  1911: 0.12,
  1910: 12.1,
  1909: 10.74,
  1908: 9.39,
  1907: 0.91,
  1906: 8.28,
  1905: 7.28,
  1904: 6.34,
  1903: 56.4,
  1902: 4.18,
  1901: 28.12,
  1900: 16.82,
  1899: 39.94,
  1898: 43.9,
  1897: 34.76,
  1896: 31.06,
  1895: 24.41,
  1894: 17.83,
  1893: 13.22,
  1892: 35.35,
  1891: 21.92,
  1890: 22.0,
  1889: 9.82,
  1888: 60.31,
  1887: 35.83,
  1886: 36.03,
  1885: 27.87,
  1884: 16.81,
  1883: 0.0,
  1882: 0.0,
  1881: 0.0,
  1880: 0.0,
  1879: 0.0,
  1878: 0.0,
  1877: 0.0,
  1876: 0.0,
  1875: 0.0,
  1874: 0.0,
  1873: 0.0,
  1872: 0.0,
  1871: 0.0,
  1870: 0.0,
  1869: 0.0,
  1868: 0.0,
  1867: 0.0,
  1866: 0.0,
  1865: 0.0,
  1864: 0.0,
  1863: 0.0,
  1862: 0.0,
  1861: 0.0,
  1860: 0.0,
  1859: 0.0,
  1858: 0.0,
  1857: 0.0,
  1856: 0.0,
  1855: 0.0,
  1854: 0.0,
  1853: 0.0,
  1852: 0.0,
  1851: 0.0,
  1850: 0.0,
  1849: 0.0,
  1848: 0.0,
  1847: 0.0,
  1846: 0.0,
  1845: 0.0,
  1844: 0.0,
  1843: 0.0,
  1842: 0.0,
  1841: 0.0,
  1840: 0.0,
  1839: 0.0,
  1838: 0.0,
  1837: 0.0,
  1836: 0.0,
  1835: 0.0,
  1834: 0.0,
  1833: 0.0,
  1832: 0.0,
  1831: 0.0,
  1830: 0.0,
  1829: 0.0,
  1828: 0.0,
  1827: 0.0,
  1826: 0.0,
  1825: 0.0,
  1824: 0.0,
  1823: 0.0,
  1822: 0.0,
  1821: 0.0,
  1820: 0.0,
  1819: 0.0,
  1818: 0.0,
  1817: 0.0,
  1816: 0.0,
  1815: 0.0,
  1814: 0.0,
  1813: 0.0,
  1812: 0.0,
  1811: 0.0,
  1810: 0.0,
  1809: 0.0,
  1808: 0.0,
  1807: 0.0,
  1806: 0.0,
  1805: 0.0,
  1804: 0.0,
  1803: 0.0,
  1802: 0.0,
  1801: 0.0,
  1800: 0.0,
  1790: 0.0,
  1780: 0.0,
  1770: 0.0,
  1760: 0.0,
  1750: 0.0}}

Ruta para obtener datos por país (/data/country/{country}): 
Devuelve los datos de un país específico.

In [31]:
@app.get('/data/country/{country}')
def country(country: str):
    if country not in df['Entity'].values:
        return{'Error':f"{country} not found"}
    data= df[df['Entity']== country].sort_values(ascending=False, by='Year')
    dic={}
    for i in range(len(data)):
        dic[int(data['Year'].iloc[i])]=float(data['Annual CO₂ emissions (per capita)'].iloc[i])
    return {country:dic}

In [33]:
country('Mexic')

{'Error': 'Mexic not found'}

Ruta para obtener datos por año (/data/year/{year}): Devuelve los 
datos de un año específico.

In [34]:
@app.get('/data/year/{year}')
def year(year: int):
    if year not in df['Year'].values:
        return{'Error':f"{year} not found"}
    data= df[df['Year']== year].sort_values(ascending=False, by='Entity')
    dic={}
    for i in range(len(data)):
        dic[int(data['Entity'].iloc[i])]=float(data['Annual CO₂ emissions (per capita)'].iloc[i])
    return {year:dic}

In [36]:
year(2023)

{'Error': '2023 not found'}