In [20]:
import pandas as pd
import numpy as np
from fastapi import FastAPI

In [21]:
app =FastAPI()

cargar datos

In [22]:
def load_datos():
    df=pd.read_csv('Data/co-emissions-per-capita new.csv')
    df['Annual CO₂ emissions (per capita)']=df[('Annual CO₂ emissions (per capita)')].str.replace('.','')
    df['Annual CO₂ emissions (per capita)']=df[('Annual CO₂ emissions (per capita)')].astype('int')
    df['Annual CO₂ emissions (per capita)']=round(df[('Annual CO₂ emissions (per capita)')]/1000000,2)
    return df
df = load_datos()

Definicio de rutas

Ruta raíz (/): Devuelve un mensaje de bienvenida

In [41]:
@app.get("/")
def index():
    return{"message":"Bienvenido"}

In [42]:
index()

{'message': 'Bienvenido'}

Ruta para obtener todos los datos (/data): Devuelve todos los datos 
del DataFrame en formato JSON.

In [24]:
@app.get('/data')
def data():
    pais=list(df['Entity'].unique())
    dic={}
    for i in pais:
        data=df[df['Entity']==i].sort_values(ascending=False, by='Year')
        dic2={}
        for j in range(len(data)):
            dic2[int(data['Year'].iloc[j])]= float(data['Annual CO₂ emissions (per capita)'].iloc[j])
            dic[data['Entity'].iloc[0]]=dic2
        return dic

In [25]:
data()

{'Africa': {2022: 99.42,
  2021: 10.31,
  2020: 9.98,
  2019: 10.99,
  2018: 10.49,
  2017: 10.86,
  2016: 11.02,
  2015: 11.0,
  2014: 11.51,
  2013: 11.11,
  2012: 11.32,
  2011: 11.61,
  2010: 1.15,
  2009: 11.43,
  2008: 11.75,
  2007: 11.51,
  2006: 11.49,
  2005: 11.47,
  2004: 1.16,
  2003: 1.12,
  2002: 10.46,
  2001: 10.97,
  2000: 11.37,
  1999: 1.13,
  1998: 11.72,
  1997: 11.76,
  1996: 11.76,
  1995: 11.68,
  1994: 11.2,
  1993: 10.27,
  1992: 99.4,
  1991: 10.52,
  1990: 0.1,
  1989: 11.25,
  1988: 12.01,
  1987: 11.75,
  1986: 12.08,
  1985: 12.0,
  1984: 12.04,
  1983: 11.33,
  1982: 1.12,
  1981: 11.08,
  1980: 11.14,
  1979: 10.68,
  1978: 10.19,
  1977: 98.2,
  1976: 9.79,
  1975: 9.29,
  1974: 95.79,
  1973: 95.8,
  1972: 0.92,
  1971: 88.62,
  1970: 0.83,
  1969: 7.82,
  1968: 7.43,
  1967: 0.7,
  1966: 6.72,
  1965: 66.57,
  1964: 6.19,
  1963: 5.78,
  1962: 5.58,
  1961: 5.57,
  1960: 5.52,
  1959: 53.33,
  1958: 5.49,
  1957: 5.34,
  1956: 52.11,
  1955: 5.1,
  1954: 4.74,
  1953: 46.18,
  1952: 46.5,
  1951: 43.55,
  1950: 41.74,
  1949: 34.67,
  1948: 32.73,
  1947: 31.51,
  1946: 32.12,
  1945: 32.34,
  1944: 3.24,
  1943: 29.74,
  1942: 2.96,
  1941: 27.57,
  1940: 25.71,
  1939: 24.61,
  1938: 23.43,
  1937: 22.56,
  1936: 21.31,
  1935: 19.86,
  1934: 18.23,
  1933: 16.16,
  1932: 15.3,
  1931: 17.14,
  1930: 19.85,
  1929: 21.36,
  1928: 21.01,
  1927: 2.07,
  1926: 21.33,
  1925: 20.18,
  1924: 19.45,
  1923: 18.67,
  1922: 15.6,
  1921: 18.4,
  1920: 18.62,
  1919: 17.01,
  1918: 16.63,
  1917: 17.11,
  1916: 15.77,
  1915: 13.35,
  1914: 13.37,
  1913: 13.46,
  1912: 123.76,
  1911: 0.12,
  1910: 12.1,
  1909: 10.74,
  1908: 9.39,
  1907: 0.91,
  1906: 8.28,
  1905: 7.28,
  1904: 6.34,
  1903: 56.4,
  1902: 4.18,
  1901: 28.12,
  1900: 16.82,
  1899: 39.94,
  1898: 43.9,
  1897: 34.76,
  1896: 31.06,
  1895: 24.41,
  1894: 17.83,
  1893: 13.22,
  1892: 35.35,
  1891: 21.92,
  1890: 22.0,
  1889: 9.82,
  1888: 60.31,
  1887: 35.83,
  1886: 36.03,
  1885: 27.87,
  1884: 16.81,
  1883: 0.0,
  1882: 0.0,
  1881: 0.0,
  1880: 0.0,
  1879: 0.0,
  1878: 0.0,
  1877: 0.0,
  1876: 0.0,
  1875: 0.0,
  1874: 0.0,
  1873: 0.0,
  1872: 0.0,
  1871: 0.0,
  1870: 0.0,
  1869: 0.0,
  1868: 0.0,
  1867: 0.0,
  1866: 0.0,
  1865: 0.0,
  1864: 0.0,
  1863: 0.0,
  1862: 0.0,
  1861: 0.0,
  1860: 0.0,
  1859: 0.0,
  1858: 0.0,
  1857: 0.0,
  1856: 0.0,
  1855: 0.0,
  1854: 0.0,
  1853: 0.0,
  1852: 0.0,
  1851: 0.0,
  1850: 0.0,
  1849: 0.0,
  1848: 0.0,
  1847: 0.0,
  1846: 0.0,
  1845: 0.0,
  1844: 0.0,
  1843: 0.0,
  1842: 0.0,
  1841: 0.0,
  1840: 0.0,
  1839: 0.0,
  1838: 0.0,
  1837: 0.0,
  1836: 0.0,
  1835: 0.0,
  1834: 0.0,
  1833: 0.0,
  1832: 0.0,
  1831: 0.0,
  1830: 0.0,
  1829: 0.0,
  1828: 0.0,
  1827: 0.0,
  1826: 0.0,
  1825: 0.0,
  1824: 0.0,
  1823: 0.0,
  1822: 0.0,
  1821: 0.0,
  1820: 0.0,
  1819: 0.0,
  1818: 0.0,
  1817: 0.0,
  1816: 0.0,
  1815: 0.0,
  1814: 0.0,
  1813: 0.0,
  1812: 0.0,
  1811: 0.0,
  1810: 0.0,
  1809: 0.0,
  1808: 0.0,
  1807: 0.0,
  1806: 0.0,
  1805: 0.0,
  1804: 0.0,
  1803: 0.0,
  1802: 0.0,
  1801: 0.0,
  1800: 0.0,
  1790: 0.0,
  1780: 0.0,
  1770: 0.0,
  1760: 0.0,
  1750: 0.0}}

Ruta para obtener datos por país (/data/country/{country}): 
Devuelve los datos de un país específico.

In [31]:
@app.get('/data/country/{country}')
def country(country: str):
    if country not in df['Entity'].values:
        return{'Error':f"{country} not found"}
    data= df[df['Entity']== country].sort_values(ascending=False, by='Year')
    dic={}
    for i in range(len(data)):
        dic[int(data['Year'].iloc[i])]=float(data['Annual CO₂ emissions (per capita)'].iloc[i])
    return {country:dic}

In [33]:
country('Mexic')

{'Error': 'Mexic not found'}

Ruta para obtener datos por año (/data/year/{year}): Devuelve los 
datos de un año específico.

In [52]:
@app.get('/data/year/{year}')
def year(year: int):
    if year not in df['Year'].values:
        return{'Error':f"{year} not found"}
    data= df[df['Year']== year].sort_values(ascending=False, by='Entity')
    dic={}
    for i in range(len(data)):
        dic[ data['Entity'].iloc[i] ]=float(data['Annual CO₂ emissions (per capita)'].iloc[i])
    return {year:dic}

In [53]:
year(1990)

{1990: {'Zimbabwe': 15.38,
  'Zambia': 0.31,
  'Yemen': 7.12,
  'World': 0.04,
  'Wallis and Futuna': 13.59,
  'Vietnam': 31.83,
  'Venezuela': 6.17,
  'Vanuatu': 43.71,
  'Uzbekistan': 5.04,
  'Uruguay': 12.73,
  'Upper-middle-income countries': 3.48,
  'United States': 20.64,
  'United Kingdom': 10.52,
  'United Arab Emirates': 2.72,
  'Ukraine': 13.69,
  'Uganda': 43.26,
  'Tuvalu': 3.98,
  'Turks and Caicos Islands': 5.31,
  'Turkmenistan': 8.52,
  'Turkey': 2.79,
  'Tunisia': 15.98,
  'Trinidad and Tobago': 13.41,
  'Tonga': 8.53,
  'Togo': 25.22,
  'Thailand': 15.67,
  'Tanzania': 8.06,
  'Tajikistan': 22.08,
  'Taiwan': 60.32,
  'Syria': 29.85,
  'Switzerland': 65.8,
  'Sweden': 67.28,
  'Suriname': 4.21,
  'Sudan': 22.61,
  'Sri Lanka': 22.27,
  'Spain': 59.27,
  'South Sudan': 9.13,
  'South Korea': 56.78,
  'South America': 20.17,
  'South Africa': 7.85,
  'Somalia': 11.18,
  'Solomon Islands': 45.21,
  'Slovenia': 76.0,
  'Slovakia': 11.68,
  'Sint Maarten (Dutch part)': 1.92,
  'Singapore': 14.41,
  'Sierra Leone': 11.52,
  'Seychelles': 21.14,
  'Serbia': 7.24,
  'Senegal': 4.17,
  'Saudi Arabia': 1.3,
  'Sao Tome and Principe': 39.58,
  'Samoa': 52.28,
  'Saint Vincent and the Grenadines': 71.65,
  'Saint Pierre and Miquelon': 14.44,
  'Saint Lucia': 12.62,
  'Saint Kitts and Nevis': 26.13,
  'Saint Helena': 11.05,
  'Rwanda': 7.16,
  'Russia': 1.71,
  'Romania': 7.73,
  'Qatar': 25.84,
  'Portugal': 45.25,
  'Poland': 9.89,
  'Philippines': 67.17,
  'Peru': 96.8,
  'Paraguay': 52.61,
  'Papua New Guinea': 5.57,
  'Panama': 10.74,
  'Palestine': 40.53,
  'Palau': 15.31,
  'Pakistan': 58.77,
  'Oman': 6.22,
  'Oceania': 11.68,
  'Norway': 8.25,
  'North Macedonia': 5.43,
  'North Korea': 5.69,
  'North America (excl. USA)': 51.5,
  'North America': 14.37,
  'Niue': 0.03,
  'Nigeria': 4.08,
  'Niger': 0.72,
  'Nicaragua': 48.35,
  'New Zealand': 75.07,
  'New Caledonia': 8.89,
  'Netherlands': 10.88,
  'Nepal': 36.78,
  'Nauru': 12.95,
  'Namibia': 0.0,
  'Myanmar': 10.56,
  'Mozambique': 7.71,
  'Morocco': 9.07,
  'Montserrat': 27.07,
  'Montenegro': 31.57,
  'Mongolia': 4.53,
  'Moldova': 8.09,
  'Mexico': 38.8,
  'Mauritius': 13.41,
  'Mauritania': 42.56,
  'Malta': 6.64,
  'Mali': 0.47,
  'Maldives': 76.55,
  'Malaysia': 30.98,
  'Malawi': 7.76,
  'Madagascar': 79.47,
  'Macao': 2.95,
  'Luxembourg': 3.1,
  'Lower-middle-income countries': 11.43,
  'Low-income countries': 65.4,
  'Lithuania': 0.09,
  'Liechtenstein': 6.91,
  'Libya': 8.62,
  'Liberia': 20.64,
  'Lesotho': 8.19,
  'Lebanon': 2.19,
  'Latvia': 7.31,
  'Laos': 11.89,
  'Kyrgyzstan': 43.23,
  'Kuwait': 22.57,
  'Kiribati': 29.26,
  'Kenya': 25.12,
  'Kazakhstan': 15.9,
  'Jordan': 30.1,
  'Japan': 9.36,
  'Jamaica': 31.47,
  'Italy': 77.33,
  'Israel': 74.58,
  'Ireland': 9.45,
  'Iraq': 27.78,
  'Iran': 37.63,
  'Indonesia': 8.51,
  'India': 66.4,
  'Iceland': 8.72,
  'Hungary': 70.72,
  'Hong Kong': 4.65,
  'Honduras': 49.57,
  'High-income countries': 12.14,
  'Haiti': 14.37,
  'Guyana': 15.1,
  'Guinea-Bissau': 17.69,
  'Guinea': 15.8,
  'Guatemala': 0.55,
  'Grenada': 10.73,
  'Greenland': 11.23,
  'Greece': 8.1,
  'Ghana': 22.75,
  'Germany': 13.29,
  'Georgia': 2.96,
  'Gambia': 19.01,
  'Gabon': 4.56,
  'French Polynesia': 22.22,
  'France': 6.97,
  'Finland': 0.11,
  'Fiji': 10.27,
  'Faroe Islands': 14.81,
  'European Union (28)': 9.4,
  'European Union (27)': 0.92,
  'Europe (excl. EU-28)': 14.48,
  'Europe (excl. EU-27)': 13.73,
  'Europe': 11.13,
  'Ethiopia': 6.24,
  'Eswatini': 1.12,
  'Estonia': 2.35,
  'Eritrea': 0.0,
  'Equatorial Guinea': 13.38,
  'El Salvador': 46.11,
  'Egypt': 13.15,
  'Ecuador': 15.75,
  'Dominican Republic': 12.53,
  'Dominica': 84.35,
  'Djibouti': 51.42,
  'Denmark': 10.39,
  'Democratic Republic of Congo': 11.81,
  'Czechia': 15.94,
  'Cyprus': 58.91,
  'Curacao': 3.1,
  'Cuba': 27.9,
  'Croatia': 4.71,
  "Cote d'Ivoire": 40.15,
  'Costa Rica': 9.22,
  'Cook Islands': 25.64,
  'Congo': 42.25,
  'Comoros': 15.3,
  'Colombia': 17.45,
  'China': 21.54,
  'Chile': 24.66,
  'Chad': 6.48,
  'Central African Republic': 6.52,
  'Cape Verde': 4.92,
  'Canada': 1.66,
  'Cameroon': 22.79,
  'Cambodia': 14.14,
  'Burundi': 3.81,
  'Burkina Faso': 6.38,
  'Bulgaria': 8.74,
  'Brunei': 20.83,
  'British Virgin Islands': 4.22,
  'Brazil': 14.51,
  'Botswana': 20.13,
  'Bosnia and Herzegovina': 44.25,
  'Bonaire Sint Eustatius and Saba': 51.19,
  'Bolivia': 14.1,
  'Bhutan': 33.26,
  'Bermuda': 8.73,
  'Benin': 112.86,
  'Belize': 1.71,
  'Belgium': 12.08,
  'Belarus': 10.39,
  'Barbados': 49.26,
  'Bangladesh': 13.14,
  'Bahrain': 22.33,
  'Bahamas': 74.72,
  'Azerbaijan': 6.89,
  'Austria': 8.1,
  'Australia': 16.32,
  'Asia (excl. China and India)': 29.89,
  'Asia': 20.58,
  'Aruba': 74.13,
  'Armenia': 25.16,
  'Argentina': 3.43,
  'Antigua and Barbuda': 38.18,
  'Anguilla': 5.71,
  'Angola': 4.3,
  'Andorra': 7.59,
  'Algeria': 30.07,
  'Albania': 16.75,
  'Africa': 0.1,
  'Afghanistan': 18.93}}